table.ms-viewtoolbar {
	background-color:#efefd7;
}

table.ms-toolbar {
	background-color:#efefd7;
}

table.ms-toolbar {
	border:1px solid #bcbb7c;
}

table.ms-viewtoolbar {
	border-top:1px solid #a8a761;
	border-bottom:1px solid #a8a761;
}

.ms-listheader {
	color:#59581a;
	background-color:#a2a15c;
}

.ms-menutoolbar {
	border-bottom:1px solid #013401;
	background-color:#013401;
}

.ms-menutoolbar td {
	border-top:solid 1px #013401;
	border-bottom:solid 1px #013401;
}

.ms-menutoolbar td a {
	color:#ffffff;
}

.ms-menubuttonactivehover {
	border:solid 1px #a8a761;
}

.ms-splitbuttonhover td a {
	color:#000000;
}

div.ms-menubuttonactivehover a {
	color:#000000;
}

td.ms-menutoolbarheader {
	color:#59581a;
}

.ms-listheaderlabel {
	color:#ffffff;
}

.ms-authoringcontrols td td.ms-viewselectorhover {
	border:solid 1px #706f2e;
}

.ms-authoringcontrols td td.ms-viewselector {
	border:solid 1px #706f2e;
}

.ms-toolbar td td.ms-viewselectorhover {
	border:solid 1px #706f2e;
}

.ms-toolbar td td.ms-viewselector {
	border:solid 1px #706f2e;
}

.ms-menutoolbar td td.ms-viewselectorhover {
	border:solid 1px #706f2e;
}

.ms-menutoolbar td td.ms-viewselector {
	border:solid 1px #706f2e;
}

.ms-authoringcontrols td td.ms-viewselectorhover {
}


div.ms-viewselectorhover a {
	color:#000000;
}

div.ms-viewselector a {
	color:#000000;
}

.ms-bottompaging {
	background:#fffef4;
}

.ms-bottompagingline1 {
	background:#bcbb7c
}

.ms-paging {
	color:#59581a;
}


.ms-splitbuttonhover .ms-splitbuttontext {
	border:1px solid #a8a761;
}

.ms-splitbuttonhover .ms-splitbuttondropdown {
	border:1px solid #a8a761;
}

.ms-splitbuttonhover .ms-splitbuttondropdown {
	color:white;
}


.ms-formbody {
	background:#f9f9e8;
}

.ms-searchbox {
	border:solid 1px #a8a761;
}

.ms-searchimage {
	border:solid 1px #a8a761;
	border-left:solid 1px #dbdab8;
	background-color:#fffef4;
}


.ms-bannerContainer {
	background: none;
}

.ms-globalbreadcrumb {
	background: none;
}

.ms-globallinks a {
	color:#ffffff;
}

.ms-globallinks {
	color:#ffffff;
}

.ms-pagebreadcrumb a {
	background-color:#fffef4;
}

.ms-pagebreadcrumb {
	background-color:#ffffff;
}

.ms-siteactionsmenu div div div {
	border-top: none;
	border-left: none;
	border-right: none;
	background: none;}



.ms-actionbar {
	border:1px solid #a8a761;
}

.ms-actionsep {
	border-right:1px solid #a8a761;
}

.ms-topnavContainer {
	border: none;
	color: #FFFFFF;
}

.ms-topnav {
	border-top: none;
	border-bottom: solid 1px #e5e5c7;
	border-left: solid 1px #e5e5c7;
	border-right: solid 1px #e5e5c7;
	background-color: #e5e5c7;
	color: #706f2e;
	font-size: 85%;
}

.ms-topnavselected {
	border-top: none;
	border-bottom: solid 1px #800000;
	border-left: solid 1px #800000;
	border-right: solid 1px #800000;
}



.ms-topNavFlyOutsContainer {
	border:solid 1px #e5e5c7;
}

.ms-topNavFlyOuts {
	background-color:#fffefc !important;
}

.ms-topNavFlyOutsHover {
	background-color:#e5e5c7 !important;
}

.ms-topNavFlyOuts a {
	color:#706f2e;
}

.ms-quicklaunchnavsep {
	background-color:#bcbb7c;
}

.ms-quicklaunch table td {
	border-top:none;
}

.ms-quicklaunch span.ms-navheader {
	background-color:#efefd7;
	border-top:solid 1px #fffefc;
	border-left:solid 1px #fffefc;
}

.ms-navheader2 td {
	background-color:#efefd7;
	border-top:solid 1px #fffefc;
	border-left:solid 1px #fffefc;
}

.ms-quicklaunch table.ms-navheader td {
	background-color: #efefd7;
	border-top: solid 1px #fffefc;
	border-left: solid 1px #fffefc;
}

.ms-quicklaunch span.ms-navheader {
	background-color:#efefd7;
	border-top:1px solid #dbdab8;
	border-left:solid 1px #fffefc;
	border-bottom:1px solid #dbdab8;
}



.ms-treeviewouter td.ms-navitem {
	border:none;
	padding: 0px 4px;
}

div.ms-treeviewouter div {
	border-top:none;
}

.ms-navsubmenu1 {
	background-color:#fffefc;
}

.ms-navsubmenu2 {
	background-color:#fffefc;
	border:1px solid #DBDAB8;
}


ms-datepickerouter {
	border-bottom:none;
	border-right:none;
}

.ms-quicklaunchouter {
	border-bottom:none;
	border-right:none;
	width:126px;
}

table.ms-recyclebin td {
	background-color:#fffefc;
}

.ms-quickLaunch {
	border:none;
	border-bottom:none;
	background-color:#fffefc;
}

.ms-quicklaunchheader {
	background: none;
	border: none;
}

.ms-unselectednav {
	border:1px solid #bcbb7c;
}


.ms-laction {
	border-top:solid 1px #c6c58f;
}

.ms-verticaldots {
	border-right:1px solid #bcbb7c;
}

.ms-nav {
	background-color: #ffffff;
	background-image: none;
}

.ms-globalTitleArea {
	background: none;
	height: 76px;
	vertical-align:top;
}


.ms-titlearealeft {
	background-color:#ffffff;
}


.ms-pagetitleareaframe table {
	background-image:none;
}

.ms-titlearealine {
	background-color:#bcbb7c;
}

.ms-mwstitlearealine {
	background-color:#e5e5c7;
}

.ms-titleareaseparator {
	background-color:#bcbb7c;
}

.ms-titleareaseparator div {
	background-color:#efefd7;
	border-top:1px solid #a8a761;
}

.ms-areaseparatorcorner {
	border-right:1px solid #a8a761;
}

td.ms-areaseparatorleft {
	border-left:none;
	border-right:none;
}

div.ms-areaseparatorleft {
	background: #ffffff none;
	border-right:none;
}

div.ms-areaseparatorright {
	background: #ffffff none;
	border-left: none;
}

.ms-titlearearight .ms-areaseparatorright {
	border-left:none;
}

.ms-areaseparator {
	background-color:#ffffff;
}

.ms-pagemargin {
	background: #ffffff none;
}

td.ms-rightareacell div.ms-pagemargin {
	border-left: none;
	background: #ffffff none;
}

.ms-pagebottommarginright {
	background:#013401;
}

.ms-pagebottommarginleft {
	background:#013401;
}

.ms-pagebottommargin {
	background:#013401;
}

.ms-bodyareapagemargin {
	background:#013401;
	border-top:1px solid #013401;
}

.ms-viewareaframe {
	border: none;
}

.ms-bodyareaframe {
	border: none;
}


.ms-separator {
	color:#d1d0a3;
}

.ms-separator img {
	background:#59581a;
	border-bottom:1px solid #c6c58f;
	border-right:1px solid #c6c58f;
}

.ms-authoringcontrols {
	background-color:#fffef4;
}

.ms-propertysheet th.ms-authoringcontrols {
	background-color:#fffef4;
}

th.ms-linksectionheader {
	background-color:#fffef4;
	border:1px solid #dbdab8;
}

td.ms-linksectionheader {
	background-color:#fffef4;
	border:1px solid #dbdab8;
}

.ms-partline {
	background-color:#dbdab8;
}

}

.ms-createpageinformation th {
	color:#59581a;
}

.ms-pageinformation th {
	color:#59581a;
}

.ms-storMeFree {
	background-color:#e5e5c7;
}

.ms-storMeEstimated {
	background-color:#bcbb7c;
}

.ms-informationtablehover {
	border:solid 1px #dbdab8;
}

.ms-informationtablehover th {
	background-color:#fffef4;
}

.ms-informationtablehover td {
	background-color:#fffef4;
}


.ms-listdescription {
	border-bottom: none;
	background: none;
	font-size: 100%;
}

.ms-alternating .ms-unselectedtitle {
	background:transparent;
}

.ms-alternating .ms-vb-user table {
	background:transparent;
}



.ms-gb {
	border-top:1px solid #a8a761;
	border-bottom:1px solid #a8a761;
}

.ms-nlline {
	background:#e5e5c7;
}

img.thumbnail {
	border:solid #bcbb7c 3px;
}

.ms-imglibthumbnail {
	background-color:#d8d8d8;
	border:solid #bcbb7c 0px;
}

.ms-imglibmenuarea {
	background-color:#fffefc;
}

.UserCaption {
	background-color:#efefd7;
}


.UserCaptionShadow {
	border-right:1px solid #dbdab8;
	border-left:1px solid #dbdab8;
}

.UserToolbar {
	border-bottom:1px solid #a8a761;
}


.ms-ToolPaneFrame {
	border-top:1px solid #a8a761;
	border-right:2px solid #a8a761;
}

.ms-ToolPaneBorder {
	border-right:1px solid #dbdab8;
	border-left:1px solid #dbdab8;
}

.ms-ToolPaneClose {
	background-color:#b2b16b;
	border-top:solid 1px #f9f9e8;
	border-bottom:solid 1px #bcbb7c;
}

.ms-ToolPaneTitle {
	border-left:solid 1px #f9f9e8;
	border-top:solid 1px #f9f9e8;
	border-bottom:solid 1px #bcbb7c;
	background-color:#b2b16b;
}

.ms-ToolPaneInfo {
	background-color:#59581a;
}

.ms-ToolStripSelected {
	background-color:#dbdab8;
	border-top:solid 1px #fffefc;
	border-bottom:solid 1px #efefd7;
}

.ms-ToolStrip {
	border-top:solid 1px #fffefc;
	border-bottom:solid 1px #efefd7;
	background-color:#dbdab8;
}

.ms-PropGridBuilderButton {
	background-color:#dbdab8;
}

.ms-WPDesign {
	background-color:#dbdab8;
}

.ms-WPMenu {
	background-color:#dbdab8;
}

.ms-WPBorderBorderOnly {
	border-color:#013401;
}

.ms-WPBorder {
	border-color:#013401;
}

.ms-SpLinkButtonActive {
	border:#a8a761 1px solid;
}

.ms-HoverCellActive {
	border:#a8a761 1px solid;
}

.ms-SPLinkButtonInActive a:visited {
	color:#ffffff;
}

.ms-SpLinkButtonInActive a:link {
	color:#ffffff;
}

.ms-SpLinkButtonInActive a:focus {
	color:#ffffff;
}

.ms-SpLinkButtonInActive a:hover {
	color:#ffffff;
}

.ms-SpLinkButtonInActive a {
	color:#ffffff;
}

.ms-WPHeader TD {
	border-bottom:1px solid #878648;
}

.ms-SPZoneSelected .ms-WPHeader TD {
	background-color:#fffefc;
}

.ms-SPzone .ms-WPHeader TD {
	background-color:#fffefc;
}

.ms-tabselected {
	border-color:#a8a761;
}

.ms-tabinactive {
	border-left: 1px solid #a8a761;
	border-right: 1px solid #a8a761;
	border-top: 1px solid #a8a761;
	border-bottom: 0px solid #a8a761;
	background-color:#efefd7;
}

.ms-uploadborder {
	border:1px solid #bcbb7c;
}


.ms-ganttTitleCell {
	border:solid 1px #efefd7;
}

.ms-ganttTitleHeaderCell {
	color:#878648;
	border:solid 1px #efefd7;
}

.ms-ganttMajorTimeUnitHeaderCell {
	border-left:solid 1px #efefd7;
	border-right:solid 1px #efefd7;
	color:#878648;
}

.ms-ganttDetailTimeUnitRow td {
	border:solid 1px #efefd7;
	color:#878648;
}

.ms-dgadd {
	border-bottom:1px solid #d1d0a3;
}

.ms-consolemptablerow {
	background-color:#800000;
}


.ms-consoleframe {
	border-color:#bcbb7c;
}

.ms-consolestatusminorframe {
	background-color:#f9f9e8;
}


.ms-consolemessage {
	color:#59581a;
}

.ms-webpartpickerpagetext {
	color:#706f2e;
}

.ms-wikitoolbar a.ms-toolbar {
	color:#59581a;
}

.ms-wikieditouter {
	border:1px solid #9e9c58;
}


.ms-PostFooter {
	color:#a8a761;
}

.ms-BlogNavigator div.ms-navheader {
	background-color:#efefd7;
	border-top:solid 1px #fffefc;
	border-left:solid 1px #fffefc;
	border-bottom:1px solid #dbdab8;
}

.ms-BlogNavigator div.ms-WPBody {
	border-top:solid 1px #dbdab8;
}

.ms-blogedit {
	border-top:solid 1px #bcbb7c;
}

.ms-blogedit a {
	border-left: 1px solid #bcbb7c;
	border-right: 1px solid #bcbb7c;
	border-top: 0px solid #bcbb7c;
	border-bottom: 1px solid #bcbb7c;
	background-color:#efefd7;
}

.ms-blogrss {
	border-top:solid 1px #bcbb7c;
}

.ms-blogrssnav {
	border-top:solid 1px #dbdab8;
}

.ms-commenttable td {
	border-top:solid 1px #bcbb7c;
}



.ms-picker-table {
	border-bottom:solid 1px #a8a761;
}


.ms-picker-table .ms-picker-dayheader {
	border-bottom:solid 1px #dbdab8;
	border-top-width:0px;
}


table.ms-picker-table td.ms-picker-dayselected {
	background-color:#cac997;
	border:solid 1px #4c4c4c;
	background-repeat:repeat-x;
}

table.ms-picker-table td.ms-picker-daycenter {
	border:solid 1px #fffefc;
}

table.ms-picker-table td.ms-picker-daycenterOn {
	border:solid 1px #fffefc;
}

table.ms-picker-table td.ms-picker-dayother {
	border:solid 1px #fffefc;
}

.ms-quicklaunch table.ms-picker-table td.ms-picker-monthcenter {
	background-color:#fffefc;
	border:solid 1px #fffefc;
}


table.ms-picker-table td.ms-picker-footer {
	border-top:solid 1px #dbdab8;
}

.ms-calheader {
	background-color:#f9f9e8;
}

.ms-cal-weekemptyRTL {
	background-color:#f9f9e8;
}

.ms-cal-weekempty {
	background-color:#f9f9e8;
}

.ms-cal-weekname {
	background-color:#f9f9e8;
}

.ms-cal-weekday {
	background-color:#f9f9e8;
}

.ms-cal-weekRTLB {
	background-color:#e5e5c7;
	border:1px solid #bcbb7c;
}

.ms-cal-weekRTL {
	background-color:#e5e5c7;
	border:1px solid #bcbb7c;
}

.ms-cal-weekB {
	background-color:#e5e5c7;
	border:1px solid #bcbb7c;
}

.ms-cal-week {
	background-color:#e5e5c7;
	border:1px solid #bcbb7c;
}

.ms-cal-weekselectedRTL {
	border:1px solid #bcbb7c;
	background-color:#f9f9e8;
}

.ms-cal-weekselected {
	border:1px solid #bcbb7c;
	background-color:#f9f9e8;
}

.ms-cal-wtopday {
	border:solid 1px #a8a761;
}

.ms-cal-wtopdayL {
	border:solid 1px #a8a761;
}

.ms-cal-topdayL {
	border:solid 1px #a8a761;
}

.ms-cal-topday {
	border:solid 1px #a8a761;
}

.ms-cal-wtopdayRTLL {
	border:solid 1px #a8a761;
}

.ms-cal-wtopdayRTL {
	border:solid 1px #a8a761;
}

.ms-cal-topdayRTLL {
	border:solid 1px #a8a761;
}

.ms-cal-topdayRTL {
	border:solid 1px #a8a761;
}

.ms-cal-wtopday-todayRTL {
	border:solid 1px #bcbb7c;
}

.ms-cal-topday-todayRTL {
	border:solid 1px #bcbb7c;
}

.ms-cal-wtopday-today {
	border:solid 1px #bcbb7c;
}

.ms-cal-topday-today {
	border:solid 1px #bcbb7c;
}

.ms-cal-wtopday-todayoverRTL {
	border:solid 1px #bcbb7c;
}

.ms-cal-wtopday-todayover {
	border:solid 1px #bcbb7c;
}

.ms-cal-topday-todayoverRTL {
	border:solid 1px #bcbb7c;
}

.ms-cal-topday-todayover {
	border:solid 1px #bcbb7c;
}

.ms-cal-topdayfocusover {
	background-color:#fffef4;
	border:solid 1px #bcbb7c;
}

.ms-cal-wtopdayoverL {
	background-color:#fffef4;
	border:solid 1px #bcbb7c;
}

.ms-cal-wtopdayover {
	background-color:#fffef4;
	border:solid 1px #bcbb7c;
}

.ms-cal-topdayoverL {
	background-color:#fffef4;
	border:solid 1px #bcbb7c;
}

.ms-cal-topdayover {
	background-color:#fffef4;
	border:solid 1px #bcbb7c;
}

.ms-cal-topdayfocusoverRTL {
	background-color:#fffef4;
	border:solid 1px #bcbb7c;
}

.ms-cal-wtopdayoverRTLL {
	background-color:#fffef4;
	border:solid 1px #bcbb7c;
}

.ms-cal-wtopdayoverRTL {
	background-color:#fffef4;
	border:solid 1px #bcbb7c;
}

.ms-cal-topdayoverRTLL {
	background-color:#fffef4;
	border:solid 1px #bcbb7c;
}

.ms-cal-topdayoverRTL {
	background-color:#fffef4;
	border:solid 1px #bcbb7c;
}

.ms-cal-wtopdayfocusRTLL {
	background-color:#cac997;
	border:solid 1px #bcbb7c;
}

.ms-cal-wtopdayfocusRTL {
	background-color:#cac997;
	border:solid 1px #bcbb7c;
}

.ms-cal-wtopdayfocusL {
	background-color:#cac997;
	border:solid 1px #bcbb7c;
}

.ms-cal-wtopdayfocus {
	background-color:#cac997;
	border:solid 1px #bcbb7c;
}

.ms-cal-topdayfocusRTLL {
	background-color:#cac997;
	border:solid 1px #bcbb7c;
}

.ms-cal-topdayfocusRTL {
	background-color:#cac997;
	border:solid 1px #bcbb7c;
}

.ms-cal-topdayfocusL {
	background-color:#cac997;
	border:solid 1px #bcbb7c;
}

.ms-cal-topdayfocus {
	background-color:#cac997;
	border:solid 1px #bcbb7c;
}

.ms-cal-nodataBtm2 {
	border-left:1px solid #bcbb7c;
	border-right:1px solid #bcbb7c;
	background-color:#dbdab8;
}

.ms-cal-nodataBtm {
	border-left:1px solid #bcbb7c;
	border-right:1px solid #bcbb7c;
	background-color:#dbdab8;
}

.ms-cal-nodataLeftBtmRTL2 {
	border-left:1px solid #bcbb7c;
	border-right:1px solid #bcbb7c;
	background-color:#dbdab8;
}

.ms-cal-nodataLeftBtm2 {
	border-left:1px solid #bcbb7c;
	border-right:1px solid #bcbb7c;
	background-color:#dbdab8;
}

.ms-cal-nodataLeftBtmRTL {
	border-left:1px solid #bcbb7c;
	border-right:1px solid #bcbb7c;
	background-color:#dbdab8;
}

.ms-cal-nodataLeftBtm {
	border-left:1px solid #bcbb7c;
	border-right:1px solid #bcbb7c;
	background-color:#dbdab8;
}

.ms-cal-nodataLeftRTL {
	border-left:1px solid #bcbb7c;
	border-right:1px solid #bcbb7c;
	background-color:#dbdab8;
}

.ms-cal-nodataLeft {
	border-left:1px solid #bcbb7c;
	border-right:1px solid #bcbb7c;
	background-color:#dbdab8;
}

.ms-cal-nodataMid {
	border-left:1px solid #bcbb7c;
	border-right:1px solid #bcbb7c;
	background-color:#dbdab8;
}

.ms-cal-nodataBtm2 {
	border-bottom:1px solid #bcbb7c;
}

.ms-cal-nodataBtm {
	border-bottom:1px solid #bcbb7c;
}

.ms-cal-nodataLeftBtmRTL2 {
	border-bottom:1px solid #bcbb7c;
}

.ms-cal-nodataLeftBtm2 {
	border-bottom:1px solid #bcbb7c;
}

.ms-cal-nodataLeftBtmRTL {
	border-bottom:1px solid #bcbb7c;
}

.ms-cal-nodataLeftBtm {
	border-bottom:1px solid #bcbb7c;
}

.ms-cal-muworkitemRTLL {
	border-right:1px solid #bcbb7c;
}

.ms-cal-muworkitemRTL {
	border-right:1px solid #bcbb7c;
}

.ms-cal-muworkitem {
	border-right:1px solid #bcbb7c;
}

.ms-cal-muworkitemR {
	border-left:1px solid #bcbb7c;
	border-right:1px solid #bcbb7c;
}

.ms-cal-muworkitemL {
	border-left:1px solid #bcbb7c;
	border-right:1px solid #bcbb7c;
}

.ms-cal-todayitemRTL {
	border-left:1px solid #bcbb7c;
	border-right:1px solid #bcbb7c;
}

.ms-cal-todayitem {
	border-left:1px solid #bcbb7c;
	border-right:1px solid #bcbb7c;
}

.ms-cal-workitem {
	border-left:1px solid #bcbb7c;
	border-right:1px solid #bcbb7c;
}

.ms-cal-workitem2 {
	border-left:1px solid #bcbb7c;
	border-right:1px solid #bcbb7c;
}

.ms-cal-todayitemRTL2B {
	border-left:1px solid #bcbb7c;
	border-right:1px solid #bcbb7c;
	border-bottom:1px solid #bcbb7c;
}

.ms-cal-todayitem2B {
	border-left:1px solid #bcbb7c;
	border-right:1px solid #bcbb7c;
	border-bottom:1px solid #bcbb7c;
}

.ms-cal-workitemRTL2B {
	border-left:1px solid #bcbb7c;
	border-right:1px solid #bcbb7c;
	border-bottom:1px solid #bcbb7c;
}

.ms-cal-workitem2B {
	border-left:1px solid #bcbb7c;
	border-right:1px solid #bcbb7c;
	border-bottom:1px solid #bcbb7c;
}

.ms-cal-noworkitemRTL {
	border-left:1px solid #bcbb7c;
	border-right:1px solid #bcbb7c;
}

.ms-cal-noworkitemL {
	border-left:1px solid #bcbb7c;
	border-right:1px solid #bcbb7c;
}

.ms-cal-noworkitem {
	border-left:1px solid #bcbb7c;
	border-right:1px solid #bcbb7c;
}

.ms-cal-noworkitemRTL2B {
	border-right:1px solid #bcbb7c;
	border-left:1px solid #bcbb7c;
	border-bottom:1px solid #bcbb7c;
}

.ms-cal-noworkitemL2B {
	border-right:1px solid #bcbb7c;
	border-left:1px solid #bcbb7c;
	border-bottom:1px solid #bcbb7c;
}

.ms-cal-noworkitem2B {
	border-right:1px solid #bcbb7c;
	border-left:1px solid #bcbb7c;
	border-bottom:1px solid #bcbb7c;
}

.ms-cal-noworkitemLB {
	border-right:1px solid #bcbb7c;
	border-left:1px solid #bcbb7c;
	border-bottom:1px solid #bcbb7c;
}

.ms-cal-noworkitemB {
	border-right:1px solid #bcbb7c;
	border-left:1px solid #bcbb7c;
	border-bottom:1px solid #bcbb7c;
}

.ms-cal-defaultbgcolor {
	background-color:#f9f9e8;
	border:solid 1px #bcbb7c;
}

.ms-cal-defaultbgcolorsel {
	background-color:#fffefc;
	border:solid 1px #bcbb7c;
}

.ms-cal-monthAllDay {
	background-color:#f9f9e8;
	border:solid 1px #bcbb7c;
}

.ms-cal-monthAllDaysel {
	background-color:#fffefc;
	border:solid 1px #bcbb7c;
}

.ms-cal-time {
	border-right:1px solid #a8a761;
	background-color:#f9f9e8;
}

.ms-cal-timeRTL {
	border-left:1px solid #a8a761;
	background-color:#f9f9e8;
}

.ms-cal-workhour {
	border-top:solid 1px #dbdab8;
	background-color:#f9f9e8;
}

.ms-cal-workhourB {
	border-bottom:solid 1px #dbdab8;
	border-top:solid 1px #dbdab8;
	background-color:#f9f9e8;
}

.ms-cal-workhourRTL {
	border-top:solid 1px #dbdab8;
	background-color:#f9f9e8;
}

.ms-cal-workhourRTLB {
	border-bottom:solid 1px #dbdab8;
	border-top:solid 1px #dbdab8;
	background-color:#f9f9e8;
}

.ms-cal-workhourF {
	background-color:#f9f9e8;
}

.ms-cal-workhourRTLF {
	background-color:#f9f9e8;
}

.ms-cal-enoworkdayRTLF {
	border-top:solid 1px #dbdab8;
}

.ms-cal-enoworkdayF {
	border-top:solid 1px #dbdab8;
}

.ms-cal-eworkdayRTLF {
	border-top:solid 1px #dbdab8;
}

.ms-cal-eworkdayF {
	border-top:solid 1px #dbdab8;
}

.ms-cal-workhourRTLF {
	border-top:1px solid #dbdab8;
}

.ms-cal-workhourF {
	border-top:1px solid #dbdab8;
}

.ms-cal-enoworkhourRTLF {
	background-color:#f9f9e8;
}

.ms-cal-enoworkhourRTL {
	background-color:#f9f9e8;
}

.ms-cal-enoworkhourF {
	background-color:#f9f9e8;
}

.ms-cal-enoworkhour {
	background-color:#f9f9e8;
}

.ms-cal-enoworkhour .ms-cal-dayhourF {
	border-top:solid 1px #dbdab8;
}

.ms-cal-enoworkhour .ms-cal-dayhour {
	border-top:solid 1px #dbdab8;
}

.ms-cal-enoworkhourF .ms-cal-dayhourF {
	border-top:solid 1px #dbdab8;
}

.ms-cal-enoworkhourF .ms-cal-dayhour {
	border-top:solid 1px #dbdab8;
}

.ms-cal-enoworkday .ms-cal-dayhourF {
	border-top:solid 1px #dbdab8;
}

.ms-cal-eworkday .ms-cal-dayhourF {
	border-top:solid 1px #dbdab8;
}

.ms-cal-enoworkday .ms-cal-dayhour {
	border-top:solid 1px #dbdab8;
}

.ms-cal-eworkday .ms-cal-dayhour {
	border-top:solid 1px #dbdab8;
}

.ms-cal-eworkhour .ms-cal-dayhour {
	border-top:solid 1px #dbdab8;
}

.ms-cal-eworkhour .ms-cal-dayhourF {
	border-top:solid 1px #dbdab8;
}

.ms-cal-eworkhourF .ms-cal-dayhourF {
	border-top:solid 1px #dbdab8;
}

.ms-cal-eworkhourF .ms-cal-dayhour {
	border-top:solid 1px #dbdab8;
}

.ms-cal-enoworkhourRTLF .ms-cal-dayhourRTL {
	border-top:solid 1px #dbdab8;
}

.ms-cal-enoworkhourRTLF .ms-cal-dayhourRTLF {
	border-top:solid 1px #dbdab8;
}

.ms-cal-enoworkhourRTL .ms-cal-dayhourRTL {
	border-top:solid 1px #dbdab8;
}

.ms-cal-enoworkhourRTL .ms-cal-dayhourRTLF {
	border-top:solid 1px #dbdab8;
}

.ms-cal-enoworkdayRTL .ms-cal-dayhourRTLF {
	border-top:solid 1px #dbdab8;
}

.ms-cal-eworkdayRTL .ms-cal-dayhourRTLF {
	border-top:solid 1px #dbdab8;
}

.ms-cal-enoworkdayRTL .ms-cal-dayhourRTL {
	border-top:solid 1px #dbdab8;
}

.ms-cal-eworkdayRTL .ms-cal-dayhourRTL {
	border-top:solid 1px #dbdab8;
}

.ms-cal-eworkhourRTL .ms-cal-dayhourRTL {
	border-top:solid 1px #dbdab8;
}

.ms-cal-eworkhourRTL .ms-cal-dayhourRTLF {
	border-top:solid 1px #dbdab8;
}

.ms-cal-eworkhourRTLF .ms-cal-dayhourRTLF {
	border-top:solid 1px #dbdab8;
}

.ms-cal-eworkhourRTLF .ms-cal-dayhourRTL {
	border-top:solid 1px #dbdab8;
}

.ms-cal-enoworkhour .ms-cal-dayhalfhourF {
	border-top:solid 1px #efefd7;
}

.ms-cal-enoworkhour .ms-cal-dayhalfhour {
	border-top:solid 1px #efefd7;
}

.ms-cal-enoworkday .ms-cal-dayhalfhourF {
	border-top:solid 1px #efefd7;
}

.ms-cal-eworkday .ms-cal-dayhalfhourF {
	border-top:solid 1px #efefd7;
}

.ms-cal-enoworkday .ms-cal-dayhalfhour {
	border-top:solid 1px #efefd7;
}

.ms-cal-eworkday .ms-cal-dayhalfhour {
	border-top:solid 1px #efefd7;
}

.ms-cal-eworkhour .ms-cal-dayhalfhour {
	border-top:solid 1px #efefd7;
}

.ms-cal-eworkhour .ms-cal-dayhalfhourF {
	border-top:solid 1px #efefd7;
}

.ms-cal-eworkhourF .ms-cal-dayhalfhourF {
	border-top:solid 1px #efefd7;
}

.ms-cal-enoworkhourRTL .ms-cal-dayhalfhourRTL {
	border-top:solid 1px #efefd7;
}

.ms-cal-enoworkhourRTLF .ms-cal-dayhalfhourRTLF {
	border-top:solid 1px #efefd7;
}

.ms-cal-enoworkhourRTL .ms-cal-dayhalfhourRTLF {
	border-top:solid 1px #efefd7;
}

.ms-cal-enoworkdayRTL .ms-cal-dayhalfhourRTLF {
	border-top:solid 1px #efefd7;
}

.ms-cal-eworkdayRTL .ms-cal-dayhalfhourRTLF {
	border-top:solid 1px #efefd7;
}

.ms-cal-enoworkdayRTL .ms-cal-dayhalfhourRTL {
	border-top:solid 1px #efefd7;
}

.ms-cal-eworkdayRTL .ms-cal-dayhalfhourRTL {
	border-top:solid 1px #efefd7;
}

.ms-cal-eworkhourRTL .ms-cal-dayhalfhourRTL {
	border-top:solid 1px #efefd7;
}

.ms-cal-eworkhourRTL .ms-cal-dayhalfhourRTLF {
	border-top:solid 1px #efefd7;
}

.ms-cal-eworkhourRTLF .ms-cal-dayhalfhourRTLF {
	border-top:solid 1px #efefd7;
}

.ms-cal-enoworkhourB .ms-cal-dayhour {
	border-top:solid 1px #efefd7;
	border-bottom:solid 1px #dbdab8;
	background-color:#f9f9e8;
}

.ms-cal-enoworkhourB .ms-cal-dayhourF {
	border-top:solid 1px #efefd7;
	border-bottom:solid 1px #dbdab8;
	background-color:#f9f9e8;
	border-left:solid 1px #a8a761;
}

.ms-cal-enoworkhourRTLF {
	background-color:#f9f9e8;
}

.ms-cal-enoworkhourF {
	background-color:#f9f9e8;
}

.ms-cal-enoworkhourL {
	background-color:#f9f9e8;
}

.ms-cal-enoworkhourRTLL {
	background-color:#f9f9e8;
}

.ms-cal-enoworkhourRTL {
	background-color:#f9f9e8;
}

.ms-cal-enoworkhour {
	background-color:#f9f9e8;
}

.ms-cal-enoworkhourF .ms-cal-dayhourF {
	background-color:#f9f9e8;
}

.ms-cal-enoworkhour .ms-cal-dayhour {
	background-color:#f9f9e8;
}

.ms-cal-enoworkhour .ms-cal-dayhourF {
	background-color:#f9f9e8;
}

.ms-cal-enoworkhour .ms-cal-dayhalfhour {
	background-color:#f9f9e8;
}

.ms-cal-enoworkhour .ms-cal-dayhalfhourF {
	background-color:#f9f9e8;
}

.ms-cal-enoworkhourRTLF .ms-cal-dayhourRTL {
	background-color:#f9f9e8;
}

.ms-cal-enoworkhourRTLF .ms-cal-dayhourRTLF {
	background-color:#f9f9e8;
}

.ms-cal-enoworkhourRTL .ms-cal-dayhourRTL {
	background-color:#f9f9e8;
}

.ms-cal-enoworkhourRTL .ms-cal-dayhourRTLF {
	background-color:#f9f9e8;
}

.ms-cal-enoworkhourRTL .ms-cal-dayhalfhourRTL {
	background-color:#f9f9e8;
}

.ms-cal-enoworkhourRTLF .ms-cal-dayhalfhourRTLF {
	background-color:#f9f9e8;
}

.ms-cal-enoworkhourRTL .ms-cal-dayhalfhourRTLF {
	background-color:#f9f9e8;
}

.ms-cal-enoworkhourF .ms-cal-dayhour {
	background-color:#f9f9e8;
}

.ms-cal-enoworkhourRTLB .ms-cal-dayhourRTLF {
	border-top:solid 1px #efefd7;
	border-bottom:solid 1px #dbdab8;
	background-color:#f9f9e8;
	border-right:solid 1px #a8a761;
}

.ms-cal-enoworkhourRTLB .ms-cal-dayhalfhourRTLF {
	border-top:solid 1px #efefd7;
	border-bottom:solid 1px #dbdab8;
	background-color:#f9f9e8;
	border-right:solid 1px #a8a761;
}

.ms-cal-enoworkhourRTLB .ms-cal-dayhourRTL {
	border-top:solid 1px #efefd7;
	border-bottom:solid 1px #dbdab8;
	background-color:#f9f9e8;
}

.ms-cal-enoworkhourRTLB .ms-cal-dayhalfhourRTL {
	border-top:solid 1px #efefd7;
	border-bottom:solid 1px #dbdab8;
	background-color:#f9f9e8;
}

.ms-cal-eworkhour .ms-cal-dayhalfhourF {
	border-left:solid 1px #a8a761;
}

.ms-cal-eworkhour .ms-cal-dayhourF {
	border-left:solid 1px #a8a761;
}

.ms-cal-eworkdayF .ms-cal-dayhourF {
	border-left:solid 1px #a8a761;
}

.ms-cal-enoworkdayF .ms-cal-dayhalfhourF {
	border-left:solid 1px #a8a761;
}

.ms-cal-enoworkday .ms-cal-dayhalfhourF {
	border-left:solid 1px #a8a761;
}

.ms-cal-eworkday .ms-cal-dayhalfhourF {
	border-left:solid 1px #a8a761;
}

.ms-cal-enoworkdayF .ms-cal-dayhourF {
	border-left:solid 1px #a8a761;
}

.ms-cal-enoworkday .ms-cal-dayhourF {
	border-left:solid 1px #a8a761;
}

.ms-cal-eworkday .ms-cal-dayhourF {
	border-left:solid 1px #a8a761;
}

.ms-cal-eworkhourF .ms-cal-dayhourF {
	border-left:solid 1px #a8a761;
}

.ms-cal-eworkhourRTL .ms-cal-dayhalfhourRTLF {
	border-right:solid 1px #a8a761;
}

.ms-cal-eworkhourRTL .ms-cal-dayhourRTLF {
	border-right:solid 1px #a8a761;
}

.ms-cal-eworkdayRTLF .ms-cal-dayhourRTLF {
	border-right:solid 1px #a8a761;
}

.ms-cal-enoworkdayRTLF .ms-cal-dayhalfhourRTLF {
	border-right:solid 1px #a8a761;
}

.ms-cal-enoworkdayRTLF .ms-cal-dayhalfhourRTLF {
	border-right:solid 1px #a8a761;
}

.ms-cal-enoworkdayRTL .ms-cal-dayhalfhourRTLF {
	border-right:solid 1px #a8a761;
}

.ms-cal-eworkdayRTL .ms-cal-dayhalfhourRTLF {
	border-right:solid 1px #a8a761;
}

.ms-cal-enoworkdayRTLF .ms-cal-dayhourRTLF {
	border-right:solid 1px #a8a761;
}

.ms-cal-enoworkdayRTLF .ms-cal-dayhourRTLF {
	border-right:solid 1px #a8a761;
}

.ms-cal-enoworkdayRTL .ms-cal-dayhourRTLF {
	border-right:solid 1px #a8a761;
}

.ms-cal-enoworkhourRTLF .ms-cal-dayhalfhourRTLF {
	border-right:solid 1px #a8a761;
}

.ms-cal-eworkdayRTL .ms-cal-dayhourRTLF {
	border-right:solid 1px #a8a761;
}

.ms-cal-eworkhourRTLF .ms-cal-dayhourRTLF {
	border-right:solid 1px #a8a761;
}

.ms-cal-enoworkhour .ms-cal-dayhourF {
	border-left:solid 1px #a8a761;
}

.ms-cal-enoworkhour .ms-cal-dayhalfhourF {
	border-left:solid 1px #a8a761;
}

.ms-cal-enoworkhourF .ms-cal-dayhourF {
	border-left:solid 1px #a8a761;
}

.ms-cal-enoworkhourRTL .ms-cal-dayhourRTLF {
	border-right:solid 1px #a8a761;
}

.ms-cal-enoworkhourRTL .ms-cal-dayhalfhourRTLF {
	border-right:solid 1px #a8a761;
}

.ms-cal-enoworkhourRTLF .ms-cal-dayhourRTLF {
	border-right:solid 1px #a8a761;
}

.ms-cal-weekedge {
	background-color:#f9f9e8;
}

.ms-cal-wemptycellL {
	border-left:1px solid #a8a761;
	background-color:#dbdab8;
}

.ms-cal-wemptycell {
	border-left:1px solid #a8a761;
	background-color:#dbdab8;
}

.ms-cal-walldayeventRTLL {
	border-right:1px solid #a8a761;
	border-left:1px solid #a8a761;
	background-color:#dbdab8;
}

.ms-cal-walldayeventRTL {
	border-right:1px solid #a8a761;
	border-left:1px solid #a8a761;
	background-color:#dbdab8;
}

.ms-cal-walldayeventL {
	border-right:1px solid #a8a761;
	border-left:1px solid #a8a761;
	background-color:#dbdab8;
}

.ms-cal-walldayevent {
	border-right:1px solid #a8a761;
	border-left:1px solid #a8a761;
	background-color:#dbdab8;
}

.ms-cal-alldayeventRTLL {
	border-right:1px solid #a8a761;
	border-left:1px solid #a8a761;
}

.ms-cal-alldayeventRTL {
	border-right:1px solid #a8a761;
	border-left:1px solid #a8a761;
}

.ms-cal-alldayeventL {
	border-right:1px solid #a8a761;
	border-left:1px solid #a8a761;
}

.ms-cal-alldayevent {
	border-right:1px solid #a8a761;
	border-left:1px solid #a8a761;
}

.ms-cal-tweekitem {
	border:1px solid #dbdab8;
	background-color:#f9f9e8;
}

.ms-cal-tdayitem {
	border:1px solid #dbdab8;
	background-color:#f9f9e8;
}

.ms-cal-nav-buttonsltr {
	color:#bcbb7c;
}

.ms-cal-nav-buttonsRTL {
	color:#bcbb7c;
}

.ms-navframe .ms-datepickerouter {
	border-bottom:solid 1px #bcbb7c;
	border-right:solid 1px #bcbb7c;
}

div.ms-cal-navheader a img {
	border:solid 1px #a8a761;
}

table.ms-disc-bar {
	background-color:#efefd7;
	border:1px solid #bcbb7c;
}

td.ms-disc-bordered-noleft {
	border:0px solid #bcbb7c;
}

td.ms-disc-bordered {
	border:0px solid #bcbb7c;
}

table.ms-disc HR {
	color:#bcbb7c;
}

table.ms-disc-bar .ms-separator img {
	background:#bcbb7c;
	border-bottom:1px solid #fff;
	border-right:1px solid #fff;
}

.ms-picker-table .ms-picker-daycenterOn {
	background-color:#c6c58f;
}

.ms-SPZone {
	border:1px solid #bcbb7c;
	background-color:#efefd7;
}

.ms-cal-enoworkday .ms-cal-dayhourRTLF {
	background-color: #f9f9e8;
}

.ms-cal-enoworkday .ms-cal-dayhourRTL {
	background-color: #f9f9e8;
}

.ms-cal-enoworkday .ms-cal-dayhourF {
	background-color: #f9f9e8;
}

.ms-cal-enoworkday .ms-cal-dayhour {
	background-color: #f9f9e8;
}

.ms-cal-enoworkday .ms-cal-dayhalfhourRTL {
	background-color: #f9f9e8;
}

.ms-cal-enoworkday .ms-cal-dayhalfhourRTLF {
	background-color: #f9f9e8;
}

.ms-cal-enoworkday .ms-cal-dayhalfhour {
	background-color: #f9f9e8;
}

.ms-cal-enoworkday .ms-cal-dayhalfhourF {
	background-color: #f9f9e8;
}

.ms-cal-workhalfhourRTLover {
	background-color: #f9f9e8;
}

.ms-cal-workhalfhourRTL {
	background-color: #f9f9e8;
}

.ms-cal-workhalfhourover {
	background-color: #f9f9e8;
}

.ms-cal-workhalfhour {
	background-color: #f9f9e8;
}

.ms-cal-workhourRTLFover {
	background-color: #f9f9e8;
	border-top-color: #a8a761;
}

.ms-cal-workhourRTLF {
	background-color: #f9f9e8;
	border-top-color: #a8a761;
}

.ms-cal-workhouroverRTL {
	background-color: #f9f9e8;
	border-top-color: #a8a761;
}

.ms-cal-workhourRTL {
	background-color: #f9f9e8;
	border-top-color: #a8a761;
}

.ms-cal-workhourFover {
	background-color: #f9f9e8;
	border-top-color: #a8a761;
}

.ms-cal-workhourF {
	background-color: #f9f9e8;
	border-top-color: #a8a761;
}

.ms-cal-workhourover {
	background-color: #f9f9e8;
	border-top-color: #a8a761;
}

.ms-cal-workhour {
	background-color: #f9f9e8;
	border-top-color: #a8a761;
}

.ms-cal-enoworkhourRTLF .ms-cal-dayhour {
	background-color: #f9f9e8;
}

.ms-cal-enoworkhourF .ms-cal-dayhour {
	background-color: #f9f9e8;
}

.ms-cal-workhourhalfhouroverRTL {
	background-color: #f9f9e8;
	border-top-color: #a8a761;
}

.ms-cal-workhourhalfhourRTL {
	background-color: #f9f9e8;
	border-top-color: #a8a761;
}

.ms-cal-workhourhalfhourover {
	background-color: #f9f9e8;
	border-top-color: #a8a761;
}

.ms-cal-workhourhalfhour {
	background-color: #f9f9e8;
	border-top-color: #a8a761;
}

.ms-cal-workhourBhalfhourover {
	background-color: #f9f9e8;
	border-top-color: #a8a761;
	border-bottom-color: #a8a761;
}

.ms-cal-workhourBhalfhour {
	background-color: #f9f9e8;
	border-top-color: #a8a761;
	border-bottom-color: #a8a761;
}

tr th.ms-cal-workhourBhalfhour {
	border-top: 1px solid #a8a761;
}

.ms-cal-enoworkhourB {
	border-top-color:#a8a761;
}

.ms-cal-enoworkhourB .ms-cal-dayhalfhourF {
	background-color: #f9f9e8;
	border-left-color: #a8a761;
	border-top:1px solid #efefd7;
	border-bottom-color: #f9f9e8;
}

.ms-cal-enoworkhourB .ms-cal-dayhalfhour {
	background-color: #f9f9e8;
	border-left-color: #a8a761;
	border-top:1px solid #efefd7;
	border-bottom-color: #f9f9e8;
}

.ms-cal-eworkhourB .ms-cal-dayhalfhourF {
	background-color: #f9f9e8;
	border-left-color: #a8a761;
	border-top-color:#f9f9e8;
	border-bottom-color: #f9f9e8;
}

.ms-cal-eworkhourB .ms-cal-dayhalfhour {
	background-color: #f9f9e8;
	border-left-color: #a8a761;
	border-top-color:#f9f9e8;
	border-bottom-color: #f9f9e8;
}

.ms-cal-eworkhourB .ms-cal-dayhalfhourRTL {
	background-color: #f9f9e8;
	border-right-color: #a8a761;
	border-top-color:#f9f9e8;
	border-bottom-color: #f9f9e8;
}

.ms-cal-eworkhourB .ms-cal-dayhalfhourRTLF {
	background-color: #f9f9e8;
	border-right-color: #a8a761;
	border-top-color:#f9f9e8;
	border-bottom-color: #f9f9e8;
}

.ms-cal-enowork .ms-cal-dayhalfhourRTLF {
	border-bottom-color: #f9f9e8;
}

.ms-cal-enowork .ms-cal-dayhalfhourRTL {
	border-bottom-color: #f9f9e8;
}

.ms-cal-enowork .ms-cal-dayhalfhourF {
	border-bottom-color: #f9f9e8;
}

.ms-cal-enowork .ms-cal-dayhalfhour {
	border-bottom-color: #f9f9e8;
}

.ms-cal-wtopdayRTLL {
	background-color: #f9f9e8;
}

.ms-cal-wtopday-todayRTL {
	background-color: #f9f9e8;
}

.ms-cal-wtopday-today {
	background-color: #f9f9e8;
}

.ms-cal-wtopdayL {
	background-color: #f9f9e8;
}

.ms-cal-wtopdayRTL {
	background-color: #f9f9e8;
}

.ms-cal-wtopday {
	background-color: #f9f9e8;
}

.ms-cal-tweekitem {
	border: 1px solid #dbdab8;
	background-repeat: repeat-x;
	width: 100%;
	height: 100%;
}

table.ms-cal-tdayitem {
	background-color: #dbdab8;
	background-repeat: repeat-x;
	width: 100%;
	height: 100%;
}

.ms-cal-weekselectedRTL {
	background-repeat: repeat-y;
}

.ms-cal-weekselected {
	background-repeat: repeat-y;
}

.contB {
	border-color:#a8a761;
}

.contR {
	border-color:#a8a761;
}

.contL {
	border-color:#a8a761;
}

.cont {
	border-color:#a8a761;
}

.ms-cal-topday-today {
	background-color: #f9f9e8;
}

.ms-cal-topday {
	background-color: #f9f9e8;
}

.ms-cal-topday-todayRTL {
	background-color: #f9f9e8;
}

.ms-cal-topdayRTL {
	background-color: #f9f9e8;
}

.ms-cal-weekB {
	background-color: #f9f9e8;
}

.ms-cal-week {
	background-color: #f9f9e8;
}

.ms-cal-weekBRTL {
	background-color: #f9f9e8;
}

.ms-cal-weekRTL {
	background-color: #f9f9e8;
}

.cont {
	border-color: #a8a761;
}

.contL {
	border-color: #a8a761;
}

.contB {
	border-color: #a8a761;
}

.contR {
	border-color: #a8a761;
}

tr td.ms-cal-walldayeventRTLL {
	border-color: #a8a761;
	background-color: #f9f9e8;
}

tr td.ms-cal-walldayeventL {
	border-color: #a8a761;
	background-color: #f9f9e8;
}

tr td.ms-cal-walldayeventRTL {
	border-color: #a8a761;
	background-color: #f9f9e8;
}

tr td.ms-cal-walldayevent {
	border-color: #a8a761;
	background-color: #f9f9e8;
}

.ms-cal-defaultbgcolorsel {
	border-color: #a8a761;
	background-color: #f9f9e8;
}

.ms-cal-defaultbgcolor {
	border-color: #a8a761;
	background-color: #f9f9e8;
}

.ms-cal-timeRTL {
	border-color: #a8a761;
}

.ms-cal-time {
	border-color: #a8a761;
}

tr td.ms-cal-wemptycellRTLL {
	background-color: #f9f9e8;
	border-color: #a8a761;
}

tr td.ms-cal-wemptycellL {
	background-color: #f9f9e8;
	border-color: #a8a761;
}

tr td.ms-cal-wemptycellRTL {
	background-color: #f9f9e8;
	border-color: #a8a761;
}


.ms-consoletitleareaframebottom {
	background:#e5e5c7;
}


.ms-globallinks .ms-hovercellinactive a, .ms-globallinks .ms-hovercellinactive a:link{
	color:#ffffff;
}

.ms-main .ms-sctabcn {
	border-color: #a8a761;
}

.ms-main .ms-ptabcn {
	border-color: #a8a761;
}

.ms-main .ms-sctabcn {
	background-color: #e5e5c7;
}

.ms-main .ms-sctabcnhover {
	border-color: #a8a761;
}

.ms-main .ms-ptabcnhover {
	border-color: #a8a761;
}

.ms-main .ms-sctabcf {
	border-color: #a8a761;
	border-right:0px;
}

.ms-main .ms-ptabcf {
	border-color: #a8a761;
	border-right:0px;
}

.ms-main .ms-sctabcf {
	background: #e5e5c7;
}

.ms-main .ms-sctabcfhover {
	border-color: #a8a761;
}

.ms-main .ms-ptabcfhover {
	border-color: #a8a761;
}

.ms-main .ms-sctabrx {
	background:none;
}

td.ms-applyfiltersbutton {
	border-left-color:#dbdab8;
	border-right-color:#dbdab8;
	border-top-color:#e5e5c7;
	background-color:#d1d0a3;
}

table.ms-applyfiltersinactive {
	border-color:#c6c58f;
	color:#706f2e
}

table.ms-applyfiltersactive {
	border-color:#c6c58f;
	color:#706f2e
}

table.ms-applyfiltershoverover {
	border-color:#c6c58f;
	color:#706f2e
}

.ms-consolestatuscell {
	background-color: #e5e5c7;
}

.ms-assetpicker-header {
	COLOR: #9e9c58;
}

.ms-assetpicker-objectlistcontainer {
	BORDER-RIGHT: #a8a761 1px solid;
	BORDER-TOP: #a8a761 1px solid;
	BORDER-LEFT: #a8a761 1px solid;
	BORDER-BOTTOM: #a8a761 1px solid;
}

.ms-assetpicker-lookintablecontainer {
	BORDER-RIGHT: #a8a761 1px solid;
	BORDER-TOP: #a8a761 1px solid;
	BORDER-LEFT: #a8a761 1px solid;
	BORDER-BOTTOM: #a8a761 1px solid;
}

.ms-assetpicker-lookintablecontainer {
	BACKGROUND-COLOR: #fffefc;
}

.ms-assetpicker-lookin-toplabel-table {
	BORDER-BOTTOM: #a8a761 1px solid;
	BACKGROUND-COLOR: #efefd7;
}

.ms-assetpicker-lookin-toplabel-cell {
	BACKGROUND-COLOR: #efefd7;
}

.ms-cmstopnav-dynamicmenuitem {
	ForeColor: #59581a;
	BackColor: #fffef4;
}

.ms-profilesection {
	color: #424109;
}

.ms-orgme {
	background-color: #fffef4;
}

.ms-reusableTextListItemRowSelected {
	background-color: #2b2a03;
}

.srch-SocDistTitle {
	BORDER-BOTTOM: #efefd7 1px solid;
}

.srch-Page A:visited {
	color: #706f2e;
}

.srch-Page A:link {
	color: #706f2e;
}

.srch-options {
	background-color: #efefd7;
}

.srch-groupbar {
	background-color: #fffef4;
}

.leftnavPic {
	border:solid 1px #c6c58f;
	background-color: #fffef4;
}

.incommonbody {
	background-color: #fffef4;
}

.stopSuggestingLink {
	color: #878648;
}

.ms-sitedirresultspaging {
	background: #fffef4;
}

.ms-colleaguereminder {
	background-color: #fffef4;
}

.ms-suggestalt {
	background-color: #fffefc;
}

img.ms-rteCustom-PictureFrame {
	background-color: #FFFFFF
}

.ms-slLinkDlg-PeoplePanel {
	background-color:#efefd7;
}

.title-With-Background {
	background-color:#bcbb7c;
}

.ms-searchsummarymain {
	background-color: #f6f5e5;
}

div.ms-searchChannelTitle {
	border-width: 1px;
	border-color: #a8a761;
	border-style: solid;
}

.ms-searchChannelTitle span {
	color: #353399 !important;
}

.srch-HCMain {
	border-bottom: solid 1px #a8a761;
}

div.srch-BestBetsBottom {
	border-bottom: solid 1px #a8a761;
}

.ms-searchtamain {
	border-bottom: solid 1px #a8a761;
}

.srch-stats {
	background-color: #f6f5e5 !important;
}

.ms-srchresultstop {
	background-color: #f6f5e5 !important;
}

/* Styles Added by MB */

/* Override core.css alternate row table stripeing */

.ms-alternatingstrong {
	background-color:#EFEFD7;
}

/* Override core.css for header / page background spanning first 3 table rows */

.body {
                background: url("images/BSGHeader.gif") no-repeat right -60px;
}

/* Override body attribute above for "dailog" windows  */
#mainTable {
                background:fff;                
}

/* Override core.css for site title  */

h1.ms-sitetitle {
	color: #ffffff;
}

.ms-sitetitle a {
	font: normal normal normal 2.0em "MetaCHH Medium";
	color: #ffffff;
	letter-spacing: -0.05em;
}

.ms-topnavselected a {
	color:#ffffff;
}

.ms-navItem a {
	color:#669900;
}

.ms-WPBody a:visited {
	color:#669900;
}

.ms-WPBody a:link {
	color:#669900;
}

.ms-WPBody a:link img {
	border:none;
}

.ms-disc a {
	color:#669900;
}

.ms-vb-user a {
	color:#669900;
}

.ms-GRStatusText a {
	color:#669900;
}

.ms-vb2 a {
	color:#669900;
}

.ms-vb a {
	color:#669900;
}

body {
	font-family: Verdana;
}

html {
	font-family: Verdana;
}

.ms-formbody {
	font: inherit;
	font-size: inherit;
}

.ms-titlearea a {
	color:#669900;
}

.ms-propertysheet {
	color:#4C4C4C;
	font-family:inherit;
	font-size:1em;
	text-align:left;
}

.ms-propertysheet a {
	color:#669900;
}

ul.CHH_flatlist {
	margin-left: 10px;
}

ul.CHH_flatlist li {
	/*giving UL"s LIs generated disc markers*/
	list-style: none;
	margin-left: 0;
	margin-bottom: 5px;
	line-height:1.231;
}

ul.CHH_flatlist li a {
	margin-bottom: 0;
}

.ms-WPHeader {
	background-color: #013401;
	border-bottom:1px solid #013401;
}

#OuterLeftCell .ms-WPHeader {
	background-color: rgb(239, 239, 215);
}

#OuterLeftCell .ms-WPHeader td {
	border: 1px solid rgb(219, 218, 184);
}

#OuterLeftCell .ms-WPHeader .ms-WPTitle,
#OuterLeftCell .ms-WPHeader .ms-WPTitle a,
#OuterLeftCell .ms-WPHeader .ms-WPTitle a:link,
#OuterLeftCell .ms-WPHeader .ms-WPTitle a:visited,
#OuterLeftCell .ms-WPHeader .ms-WPTitle a:hover,
#OuterLeftCell .ms-WPHeader .ms-WPTitle a:active {
	color:#013401;
}

#OuterRightCell .ms-WPHeader {
	background-color: #013401;
	border-bottom:1px solid #013401;
}

.ms-WPBorderBorderOnly {
	border-color:#013401;
}

.ms-WPBorder {
	border-color:#013401;
}

.ms-WPHeader .ms-standardheader {
	color:#ffffff;
	font-family:verdana;
	font-size:inherit;
	font-weight:bold;
}

.ms-WPHeader .ms-WPTitle {
	color:#ffffff;
	font-family:verdana;
	font-size:inherit;
}

#ctl00_PlaceHolderGlobalNavigation_ctl08_hlMySite {
	display:none;
}

#ctl00_PlaceHolderSearchArea_ctl01_S3031AEBB_AdvSearchLink {
	display:none;
}

.ms-sbLastCell {
	display:none;
}

td.ms-sblink {
	display:none;
}

.ms-navheader {
	margin-top:10px;
	border:1px solid #DBDAB8;
}

.ms-navheader2 a {
	color:#013401;
}

.ms-navheader a {
	color:#013401;
}

span.ms-navitem {
	background-image:none;
	padding:3px 6px 4px 10px;
}

table.ms-navitem td {
	background-image:none;
	padding:3px 6px 4px 10px;
}

table.ms-recyclebin td {
	border:none;
}

td.ms-titleimagearea {
	vertical-align:top;
}




.ms-globallinks .ms-hovercellinactive a:link {
	color:#ffffff;
}

.ms-main .ms-sctabcn {
	border-color: #a8a761;
}

.ms-main .ms-ptabcn {
	border-color: #a8a761;
}

.ms-main .ms-sctabcn {
	background-color: #e5e5c7;
}

.ms-main .ms-sctabcnhover {
	border-color: #a8a761;
}

.ms-main .ms-ptabcnhover {
	border-color: #a8a761;
}

.ms-main .ms-sctabcf {
	border-color: #a8a761;
	border-right:0px;
}

.ms-main .ms-ptabcf {
	border-color: #a8a761;
	border-right:0px;
}

.ms-main .ms-sctabcf {
	background: #e5e5c7;
}

.ms-main .ms-sctabcfhover {
	border-color: #a8a761;
}

.ms-main .ms-ptabcfhover {
	border-color: #a8a761;
}

.ms-main .ms-sctabrx {
	border: 1px solid #a8a761;
	border-top:none;
	border-right:none;
}

.ms-main .ms-ptabrx {
	border: 1px solid #a8a761;
	border-top:0px;
}

td.ms-applyfiltersbutton {
	border-left-color:#dbdab8;
	border-right-color:#dbdab8;
	border-top-color:#e5e5c7;
	background-color:#d1d0a3;
}

table.ms-applyfiltersinactive {
	border-color:#c6c58f;
	color:#706f2e
}

table.ms-applyfiltersactive {
	border-color:#c6c58f;
	color:#706f2e
}

table.ms-applyfiltershoverover {
	border-color:#c6c58f;
	color:#706f2e
}

.ms-consolestatuscell {
	background-color: #e5e5c7;
}

.ms-assetpicker-header {
	COLOR: #9e9c58;
}

.ms-assetpicker-objectlistcontainer {
	BORDER-RIGHT: #a8a761 1px solid;
	BORDER-TOP: #a8a761 1px solid;
	BORDER-LEFT: #a8a761 1px solid;
	BORDER-BOTTOM: #a8a761 1px solid;
}

.ms-assetpicker-lookintablecontainer {
	BORDER-RIGHT: #a8a761 1px solid;
	BORDER-TOP: #a8a761 1px solid;
	BORDER-LEFT: #a8a761 1px solid;
	BORDER-BOTTOM: #a8a761 1px solid;
}

.ms-assetpicker-lookintablecontainer {
	BACKGROUND-COLOR: #fffefc;
}

.ms-assetpicker-lookin-toplabel-table {
	BORDER-BOTTOM: #a8a761 1px solid;
	BACKGROUND-COLOR: #efefd7;
}

.ms-assetpicker-lookin-toplabel-cell {
	BACKGROUND-COLOR: #efefd7;
}

.ms-cmstopnav-dynamicmenuitem {
	ForeColor: #59581a;
	BackColor: #fffef4;
}

.ms-profilesection {
	color: #424109;
}

.ms-orgme {
	background-color: #fffef4;
}

.ms-reusableTextListItemRowSelected {
	background-color: #2b2a03;
}

.srch-SocDistTitle {
	BORDER-BOTTOM: #efefd7 1px solid;
}

.srch-Page A:visited {
	color: #706f2e;
}

.srch-Page A:link {
	color: #706f2e;
}

.srch-options {
	background-color: #efefd7;
}

.srch-groupbar {
	background-color: #fffef4;
}

.leftnavPic {
	border:solid 1px #c6c58f;
	background-color: #fffef4;
}

.incommonbody {
	background-color: #fffef4;
}

.stopSuggestingLink {
	color: #878648;
}

.ms-sitedirresultspaging {
	background: #fffef4;
}

.ms-colleaguereminder {
	background-color: #fffef4;
}

.ms-suggestalt {
	background-color: #fffefc;
}

img.ms-rteCustom-PictureFrame {
	background-color: #FFFFFF
}

.ms-slLinkDlg-PeoplePanel {
	background-color:#efefd7;
}

.title-With-Background {
	background-color:#bcbb7c;
}

.ms-searchsummarymain {
	background-color: #f6f5e5;
}

div.ms-searchChannelTitle {
	border-width: 1px;
	border-color: #a8a761;
	border-style: solid;
}

.ms-searchChannelTitle span {
	color: #353399 !important;
}

.srch-HCMain {
	border-bottom: solid 1px #a8a761;
}

div.srch-BestBetsBottom {
	border-bottom: solid 1px #a8a761;
}

.ms-searchtamain {
	border-bottom: solid 1px #a8a761;
}

.srch-stats {
	background-color: #f6f5e5 !important;
}

.ms-srchresultstop {
	background-color: #f6f5e5 !important;
}

.ms-PartSpacingVertical {
	display:none;
}

td#MiddleRightCell {
	width: 50%;
}

td#MiddleLeftCenterCell {
	width: 33%;
}

td#MiddleLeftCell {
	width: 50%;
}

.ms-WPTitle a:active {
	color:#ffffff;
}

.ms-WPTitle a:hover {
	color:#ffffff;
}

.ms-WPTitle a:visited {
	color:#ffffff;
}

.ms-WPTitle a:link {
	color:#ffffff;
}

.ms-WPTitle a {
	color:#ffffff;
}

.ms-disc a:visited {
	color:#669900;
}

.ms-vb-user a:visited {
	color:#669900;
}

.ms-GRStatusText a:visited {
	color:#669900;
}

.ms-vb2 a:visited {
	color:#669900;
}

.ms-vb a:visited {
	color:#669900;
}

.ms-ptabcn, .ms-sctabcn, .ms-sctabcnhover, .ms-sctabcf, .ms-sctabcfhover {
	font-size:1em;
}

/* Service Disruption Notices Webpart */

td.planned {
	color:#ffffff;
	background-color: #669900;
}

tr.planned td.ms-alternatingstrong {
	background-color:#EFEFD7;
}

td.unplanned {
	color:#ffffff;
	background-color: #FF0000;
}

p.itemheader {
	font-weight: bold;
	margin-bottom: 0;
	margin-left: 5px;
}

p.itembody a,
	p.itembody a:link {
	text-decoration:underline;
	display:block;
	text-align:right;
}

tr.unplanned p.itembody a,
	tr.unplanned p.itembody a:link,
	tr.unplanned p.itembody a:visited,
	tr.unplanned p.itembody a:active {
	color: #FF0000;
}

tr.unplanned p.itembody a:hover {
	color:#ffffff;
	background-color: #FF0000;
}

p.itemdate {
	color:#669900;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 15px;
}

p.itembody {
	margin-top: 0;
	margin-left: 15px;
}

/* end of section */

/* sliding Doors Top Nav */

.ms-topnav {
	border: none;
}

table.ms-topnav a {
	margin-left: 20px;
	padding-left: 0px;
	padding-right: 20px;
	padding-top: 3px;
	font-weight: bold;
	color: #013401;
	font-size: 10px;
	height: 20px;
}

table.ms-topnav {
	position: relative;
}

table.ms-topnav img {
	position:absolute;
	left: auto;
	right: 2px;
	top: 2px;
}

.ms-topNavFlyOuts a {
	width: 100%;
}

.ms-topnavselected, .ms-topnavselected * {
	background: none;
}

table.ms-topnavselected {
	border: none;
}

table.ms-topnavselected a.ms-topnavselected {
	color: #ffffff;
}

.ms-topNavHover {
	background-color: transparent;
	color:#013401;
	background: none;
	border: none;
}


table.ms-topNavHover a.ms-topNavHover {
	color: #ffffff;
}

/* end of section */


/* Tab Navigation additions */
div.black_embossed_tabs_r ul, div.black_embossed_tabs_r ul li {
	list-style: none;
}


/* end of section */

div.groupheader { 
  display:none;
}

td#CHH-searchbox td.ms-sbscopes {
  display:none;
}

.ms-siteactionsmenu div div div a {
  font-weight:normal;
}
.ms-globalleft {
	display:none;
}

/* JQuery Tabs for Desktop Refresh */
#tabs {
	border-style: none none solid none;
	border-width: 0px 0px 6px 0px;
	margin: 0;
	padding: 0;
	border-top-color: inherit;
	border-right-color: inherit;
	border-bottom-color: #5E1817;
	border-left-color: inherit;
	overflow:hidden;
}
#tabs a {
	text-decoration:none;
}

#WebPartWPQ6 #tabs ul.tabNavigation  {
	margin: 0;
	padding: 0;
	list-style: none;
	height: 52px; /* Push the tabs 1px down to hide the top-border of the tabbedWindow */;
	position: relative;
	top: 0px;
	font-weight:bold;
	border:none;
}

#WebPartWPQ6 #tabs ul.tabNavigation li{
	margin: 0 0 0 -36px;
	padding: 0;
	float: left;
	background: none;
	list-style: none;
	position: inherit;
}

#WebPartWPQ6 #tabs ul.tabNavigation li a{
				float: left;
				padding: 0;
				margin: 0 10px 0 0;
				border: none;
				cursor:pointer;
				cursor:hand;
}

#WebPartWPQ6 #tabs ul.tabNavigation li a span{
				display: block;
				float: left;
				height: 52px;
				line-height: 52px;
				color: #FFF;
				text-decoration: none;
				margin: 0 0 0 18px;
				padding: 0 36px 0 18px;
				
}

#WebPartWPQ6 #tabs ul.tabNavigation li a:hover {
	color: #fff;
}


.ms-PartSpacingVertical {
	display: none;
}

div#tab-content{
	margin: 0;
	padding: 0;
}


div#tab-content table table{
	padding: 10px;
}


div#tab-content td.ms-WPBorderBorderOnly {
	border: 2px solid #5E1817; 
}


/* End */